<html>
  <head>
  </head>
  <body>
    <h1>REGISTER</h1>
    <form method="POST" action="/users">
      <label for="username">Username</label>
      <input type="text" name="username" >
      <label for="password">Password</label>
      <input type="password" name="password" >
      <button type="submit">REGISTER</button>
    </form>
  </body>
</html>